@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root { 
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

form {
  padding: 0!important;
  margin: 0!important;
}

#_forms_27 ._form-content ._form_element  {
  margin-bottom: 12px!important;
}

#_forms_27 ._form-content ._form_element ._field-wrapper select,
#_forms_27 ._form-content ._form_element ._field-wrapper input[type=text] {
  background: transparent;
  background-color: '';
  border: 1px solid #000;
  border-radius: 4px!important;
  padding: 6px 16px!important;
  font-size: 14px!important;
  color: #000!important;
  }

  input#field\[657\], input#field\[658\], input#field\[659\], input#field\[660\], input#field\[661\] {
    position: absolute;
    opacity: 0;
    z-index: -999;
    padding: 0 12px!important
  }

  form ._form-content button._submit {
    width: 100%!important;
    font-weight: 600!important;
    margin-top: 0!important;
    font-size: 16px!important;
    text-transform: normal;
    font-family: Arial, Helvetica, sans-serif!important;
  }

form ._form-label {
  position: absolute;
  display: none!important;
  transform: translateY(4px) translateX(18px);
  font-weight: normal!important;
  /* opacity: .6!important; */
}
#_forms_27 ._form-content ._form_element ._field-wrapper select:valid + label._form-label {
  opacity: 0!important;
}